.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 600;
    border-width: 1px;
    border-radius: 30px;
    background-color: #1926e0;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: 0.3s ease;
    width: 200px;
    height: 55px;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: #1926e0;
        border-color: #1926e0;
    }
}