.design {
    height: 890px;
    background-image: url(../img/design/back.png);
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    padding-top: 120px;
    position: relative;
    &__title {
        color: #ffffff;
        font-size: 40px;
        font-family: 'Open Sans',Arial,sans-serif;
        line-height: 1.2;
        font-weight: 700;
        margin: 40px 0 50px;
        &info{
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-family: 'Open Sans',Arial,sans-serif;
            line-height: 1.55;
            font-weight: 400;
            max-width: 784px;
            margin-bottom: 40px;
        }
    }
    &__lists {
        display: flex;
        justify-content: space-between;
        max-width: 784px;
    }
    &__img {
        display: block;
        position: absolute;
        background-image: url(../img/design/back-img.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 860px;
        height: 646px;
        right: -200px;
        top: 60%;
        transform: translateY(-50%);
    }
}

.list {
    max-width: 358px;
    h3 {
        color: #ffffff;
        font-size: 20px;
        font-family: 'Open Sans',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 700;
        letter-spacing: 2.5px;
    }  
    span {
        color: #ffffff;
        font-size: 14px;
        font-family: 'Open Sans',Arial,sans-serif;
        line-height: 1.2;
        font-weight: 700;
        display: block;
        margin: 15px 0;
    }   
    p {
        color: #ffffff;
        font-size: 14px;
        font-family: 'Open Sans',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 400;
        margin-bottom: 20px;
    } 
    ul {
        color: #ffffff;
        font-size: 14px;
        font-family: 'Open Sans',Arial,sans-serif;
        line-height: 1.55;
        font-weight: 400;
    }
    ul {
        list-style: none;
    }
    ul li:before {
        content:  "—";
        position: relative;
        left:     -5px;
    }
}