.design {
    height: 890px;
    background-image: url(../img/design/back.png);
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    padding-top: 120px;
    position: relative;
}