.why {
    min-height: 728px;
    height: 100vh;
    &__title {
        color: #000000;
        font-size: 46px;
        font-family: 'Open Sans',Arial,sans-serif;
        line-height: 1.2;
        font-weight: 700;
    }
    
}