<div class="howtosellipv4 howtoleaseout">
    <div class="wrapper2">
        <div class="howtosellipv4__content">
            <h1 class="howtosellipv4__title title-block title-block_white">How to lease out IPv4 with Interlir</h1>
            <div class="howtosellipv4__grid">

                <div class="howtosellipv4__elem howtosellipv4__elem_1">
                    <h2 class="howtosellipv4__smalltitle">Register on Interlir Platform and provide your networks</h2>
                    <p>A owner registers on Interlir platform and provides networks for a marketplace <br>
                        A lesser should be register on Interlir Platform in order to rent networks</p>
                </div>

                <div class="howtosellipv4__elem howtosellipv4__elem_2">
                    <h2 class="howtosellipv4__smalltitle">Publish Network on Interlir Marketplace and find lesser</h2>
                    <p>Interlir Platform provides lessers with an access to available IP address, send announces to registered digital business and process request for rent automatically</p>
                </div>

                <div class="howtosellipv4__elem howtosellipv4__elem_3">
                    <h2 class="howtosellipv4__smalltitle">Payout</h2>
                    <p>Every month IP owners get payout based on payments received from lessers</p>
                </div>

                <div class="howtosellipv4__elem howtosellipv4__elem_4">
                    <h2 class="howtosellipv4__smalltitle">IPv4 Managment</h2>
                    <p>Interlir manages routing request, monitor abuses and payment collections</p>
                </div>

            </div>
        </div>
    </div>
</div>