<div class="ipsellavailable">
    <div class="wrapper">
        <div class="ipsellavailable__content">
            <table data-table-width="25%;20%;15%;15%;25%" width="100%">
                <thead>
                  <tr>
                    <th width="25%">Region</th>
                    <th width="20%">Size</th>
                    <th width="15%">Type</th>
                    <th width="15%">$/Address</th>
                    <th width="25%">Current Bid</th>
                    <th width="[object Object],[object Object],[object Object],[object Object],[object Object]">Status</th>
                    <th width="[object Object],[object Object],[object Object],[object Object],[object Object]">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="25%">RIPE</td>
                    <td width="20%">/24</td>
                    <td width="15%">Buy Now</td>
                    <td width="15%">50$</td>
                    <td width="25%">12800$</td>
                    <td width="[object Object],[object Object],[object Object],[object Object],[object Object]">Active</td>
                    <td width="[object Object],[object Object],[object Object],[object Object],[object Object]">
                      <div>
                        <a href="http://portal.interlir.com" class="btn btn_table">Buy</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td width="25%">ARIN</td>
                    <td width="20%">/16</td>
                    <td width="15%">Buy Now</td>
                    <td width="15%">51$</td>
                    <td width="25%">12800$</td>
                    <td width="[object Object],[object Object],[object Object],[object Object],[object Object]">Active</td>
                    <td width="[object Object],[object Object],[object Object],[object Object],[object Object]">
                      <div>
                        <a href="http://portal.interlir.com" class="btn btn_table">Buy</a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td width="25%">RIPE</td>
                    <td width="20%">/24</td>
                    <td width="15%">Buy Now</td>
                    <td width="15%">52$</td>
                    <td width="25%">12800$</td>
                    <td width="[object Object],[object Object],[object Object],[object Object],[object Object]">Active</td>
                    <td width="[object Object],[object Object],[object Object],[object Object],[object Object]">
                      <div>
                        <a href="http://portal.interlir.com " class="btn btn_table">Buy</a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>