<div class="main-pricelist">
    <div class="wrapper">
        <div class="main-pricelist__content">
            <h1 class="main-pricelist__title">INTERLIR SERVICE RATES</h1>

            <div class="main-pricelist__table">
                <h3 class="main-pricelist__table-title">Customer search Services to lease out IPv4 resources</h3>
                <table class="t431__table " data-table-width="25%;5%;70%" width="100%">
                    <thead class="t431__thead">
                      <tr>
                        <th class="t431__th t-title" width="25%">Service</th>
                        <th class="t431__th t-title" width="5%"> Rate</th>
                        <th class="t431__th t-title" width="70%"> Description</th>
                      </tr>
                    </thead>
                    <tbody class="t431__tbody">
                      <tr class="t431__oddrow">
                        <td class="t431__td t-text" width="25%">Provision of services for the leasing out of IP-resources via the InterLIR Internet platform, subject to the supplier's resources management by Platform tools</td>
                        <td class="t431__td t-text" width="5%"> 15% </td>
                        <td class="t431__td t-text" width="70%"> The fee is calculated from the total cost of leasing a resource. Any subnet size.The platform makes all the necessary updates in lower level inetnum, route and domain objects. All you need is to give the Platform service personnel the right to manage resources directly by adding INTERLIR-MNT As MNT-LOWER to ALLOCATED PA inetnum object.</td>
                      </tr>
                      <tr class="t431__evenrow">
                        <td class="t431__td t-text" width="25%">Provision of services for the leasing out of IP-resources via the InterLIR Internet platform, subject to the supplier's resources management on their own.</td>
                        <td class="t431__td t-text" width="5%"> 10% </td>
                        <td class="t431__td t-text" width="70%">The fee is calculated from the total cost of leasing a resource. Any subnet size. You make all the necessary updates in inetnum, route, and domain objects. You shall confirm your IP subnet ownership right by adding ripe@interlir.com as abuse-c to the inetnum.</td>
                      </tr>
                      <tr class="t431__oddrow">
                        <td class="t431__td t-text" width="25%">The platform usage by the Lessee. Contracts are managed by InterLIR platform.</td>
                        <td class="t431__td t-text" width="5%"> 0% </td>
                        <td class="t431__td t-text" width="70%">For the Lessee, the service of using the platform is free, The payment shall be made only for the actually leased subnets</td>
                      </tr>
                    </tbody>
                  </table>
            </div>

            <div class="main-pricelist__table">
                <h3 class="main-pricelist__table-title">Customer search services to sell the IPv4 resources</h3>
                <table class="t431__table " data-table-width="25%;5%;70%" width="100%">
                    <thead class="t431__thead">
                        <tr>
                        <th class="t431__th t-title" width="25%">Service</th>
                        <th class="t431__th t-title" width="5%"> Rate</th>
                        <th class="t431__th t-title" width="70%"> Description</th>
                        </tr>
                    </thead>
                    <tbody class="t431__tbody">
                        <tr class="t431__oddrow">
                        <td class="t431__td t-text" width="25%"> /24 subnet</td>
                        <td class="t431__td t-text" width="5%"> 10% </td>
                        <td class="t431__td t-text" width="70%"> The fee is calculated from the total cost of the resource</td>
                        </tr>
                        <tr class="t431__evenrow">
                        <td class="t431__td t-text" width="25%">/23 subnet</td>
                        <td class="t431__td t-text" width="5%"> 7% </td>
                        <td class="t431__td t-text" width="70%"> The fee is calculated from the total cost of the resource</td>
                        </tr>
                        <tr class="t431__oddrow">
                        <td class="t431__td t-text" width="25%">/22 subnet</td>
                        <td class="t431__td t-text" width="5%"> 5% </td>
                        <td class="t431__td t-text" width="70%"> The fee is calculated from the total cost of the resource</td>
                        </tr>
                        <tr class="t431__evenrow">
                        <td class="t431__td t-text" width="25%">/21-19 subnet</td>
                        <td class="t431__td t-text" width="5%"> 4% </td>
                        <td class="t431__td t-text" width="70%"> The fee is calculated from the total cost of the resource</td>
                        </tr>
                        <tr class="t431__oddrow">
                        <td class="t431__td t-text" width="25%">/18-17 subnet</td>
                        <td class="t431__td t-text" width="5%"> 3% </td>
                        <td class="t431__td t-text" width="70%"> The fee is calculated from the total cost of the resource</td>
                        </tr>
                        <tr class="t431__evenrow">
                        <td class="t431__td t-text" width="25%">/16 subnet or larger </td>
                        <td class="t431__td t-text" width="5%"> 2,5%</td>
                        <td class="t431__td t-text" width="70%"> The fee is calculated from the total cost of the resource</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="main-pricelist__table">
                <h3 class="main-pricelist__table-title">Local Internet Registry (LIR) management services</h3>
                <table class="t431__table " data-table-width="25%;5%;70%" width="100%">
                    <thead class="t431__thead">
                      <tr>
                        <th class="t431__th t-title" width="25%">Service</th>
                        <th class="t431__th t-title" width="5%"> Rate</th>
                        <th class="t431__th t-title" width="70%"> Description</th>
                        <th class="t431__th" width="70%"></th>
                      </tr>
                    </thead>
                    <tbody class="t431__tbody">
                      <tr class="t431__oddrow">
                        <td class="t431__td t-text" width="25%">LIR registration </td>
                        <td class="t431__td t-text" width="5%"> 600 € </td>
                        <td class="t431__td t-text" width="70%"></td>
                        <td class="t431__td" width="70%"></td>
                      </tr>
                      <tr class="t431__evenrow">
                        <td class="t431__td t-text" width="25%">LIR Support </td>
                        <td class="t431__td t-text" width="5%"> 150 € /month </td>
                        <td class="t431__td t-text" width="70%">LIR-portal support, 5 inetnum objects, 5 inet6num objects, 5 as-num objects, 1 transfer per year.</td>
                        <td class="t431__td" width="70%"></td>
                      </tr>
                      <tr class="t431__oddrow">
                        <td class="t431__td t-text" width="25%">Extra objects support </td>
                        <td class="t431__td t-text" width="5%"> 20 € /month </td>
                        <td class="t431__td t-text" width="70%"> 1 inetnum or 1 inet6num or 1 asnum object</td>
                        <td class="t431__td t-text" width="[object Object],[object Object],[object Object]"></td>
                      </tr>
                      <tr class="t431__evenrow">
                        <td class="t431__td t-text" width="25%">PA IP resources transfer</td>
                        <td class="t431__td t-text" width="5%"> 200 € </td>
                        <td class="t431__td t-text" width="70%"> Due diligence of the Parties,Documents preparation,Consultation on filling up the transfer documents,The current regulations of the Regional Internet Registry review, All the transfer stages support</td>
                        <td class="t431__td" width="70%"></td>
                      </tr>
                    </tbody>
                </table>
            </div>

            <div class="main-pricelist__table">
                <h3 class="main-pricelist__table-title">Our Local Internet Registry (LIR) services</h3>
                <table class="t431__table " data-table-width="25%;5%;70%" width="100%">
                    <thead class="t431__thead">
                      <tr>
                        <th class="t431__th t-title" width="25%">Service</th>
                        <th class="t431__th t-title" width="5%"> Rate</th>
                        <th class="t431__th t-title" width="70%"> Description</th>
                      </tr>
                    </thead>
                    <tbody class="t431__tbody">
                      <tr class="t431__oddrow">
                        <td class="t431__td t-text" width="25%">PI Suppport IPv4 </td>
                        <td class="t431__td t-text" width="5%"> 50 € / month </td>
                        <td class="t431__td t-text" width="70%">Annual RIPE PI object support fee, Documents verification, Data updates, Consulting,The RIPE database updates, Interaction with the RIPE NCC.</td>
                      </tr>
                      <tr class="t431__evenrow">
                        <td class="t431__td t-text" width="25%">PI IPv6 Support </td>
                        <td class="t431__td t-text" width="5%"> 20 € / month </td>
                        <td class="t431__td t-text" width="70%">Annual RIPE PI object support fee, Documents verification, Data updates, Consulting,The RIPE database updates, Interaction with the RIPE NCC.</td>
                      </tr>
                      <tr class="t431__oddrow">
                        <td class="t431__td t-text" width="25%">AS number support </td>
                        <td class="t431__td t-text" width="5%"> 15 € / month </td>
                        <td class="t431__td t-text" width="70%">Annual RIPE PI object support fee, Documents verification, Data updates, Consulting,The RIPE database updates, Interaction with the RIPE NCC.</td>
                      </tr>
                      <tr class="t431__evenrow">
                        <td class="t431__td t-text" width="25%">PI and AS Transfer </td>
                        <td class="t431__td t-text" width="5%"> 200 € </td>
                        <td class="t431__td t-text" width="70%"> Due diligence of the Parties, Documents preparation, Consultation on filling up the transfer documents, The current regulations of the Regional Internet Registry review, All the transfer stages support</td>
                      </tr>
                      <tr class="t431__oddrow">
                        <td class="t431__td t-text" width="25%">IPv6 (/48) registration</td>
                        <td class="t431__td t-text" width="5%"> </td>
                        <td class="t431__td t-text" width="70%">Consulting, Preparation of documents to obtain IPv6, Objects registration in the RIPE database, Interaction with the RIPE NCC.</td>
                      </tr>
                      <tr class="t431__evenrow">
                        <td class="t431__td t-text" width="25%">AS number registration</td>
                        <td class="t431__td t-text" width="5%"> 200 € </td>
                        <td class="t431__td t-text" width="70%"> Consulting, Preparation of documents to obtain AS, Interaction with the RIPE NCC.</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>