<div class="howtosellipv4">
    <div class="wrapper2">
        <div class="howtosellipv4__content">
            <h1 class="howtosellipv4__title title-block title-block_white">How to sell IPv4 with Interlir</h1>
            <div class="howtosellipv4__grid">

                <div class="howtosellipv4__elem howtosellipv4__elem_1">
                    <h2 class="howtosellipv4__smalltitle">Contact our sales team and register with Interlir</h2>
                    <ul>
                        <li>If you want to sell an IP network, please, contact Interlir with info@interlir.com or by clicking to support button to discuss your requirements</li>
                        <li>Interlir provides its clients with a robust platform to help with KYC(Know your Customer) process, required to identify your company according to RIRs rules.</li>
                    </ul>
                </div>

                <div class="howtosellipv4__elem howtosellipv4__elem_2">
                    <h2 class="howtosellipv4__smalltitle">Negotiations and contracting</h2>
                    <ul>
                        <li>Interlir or Buyer, negotiates the final price for IP networks, and sign an agreement with the seller.</li>
                    </ul>
                </div>

                <div class="howtosellipv4__elem howtosellipv4__elem_3">
                    <h2 class="howtosellipv4__smalltitle">Escrow</h2>
                    <ul>
                        <li>Buyers sends funds to Escrow service and wait for a IP Network transfer</li>
                    </ul>
                </div>

                <div class="howtosellipv4__elem howtosellipv4__elem_4">
                    <h2 class="howtosellipv4__smalltitle">Transfer addresses and funds transfer</h2>
                    <ul>
                        <li>A seller transfers IP addresses with a help of Intelir. After a transfer have been confirmed with a buyer, escrow funds would been transferred to a seller.</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>