<div class="iprent iprent_white">
    <div class="wrapper">
        <a class="anchor" name="iprent-lern"></a>
        <div class="iprent__content">

            <div class="iprent__card">
                <h3 class="iprent__title">LIR support</h3>
                <p class="iprent__title-info"></p>
                <p class="iprent__price">from €150</p>
                <div class="iprent__info iprent__info_lirsupport">
                    <p>Support of LIR-portal</p>
                    <p>5 inetnum objects, inet6num objects, as-num objects</p>
                    <p>One transfer per year</p>
                </div>
                <a class="iprent__btn btn btn_green">Order now</a>
            </div>

            <div class="iprent__card iprent__card_center">
                <h3 class="iprent__title">LIR status registration</h3>
                <p class="iprent__title-info"></p>
                <p class="iprent__price">from €600</p>
                <div class="iprent__info iprent__info_lirsupport">
                    <p>Consultation and registration of LIR</p>
                    <p>Receiving IPv4 (/24), IPv6, AS</p>
                    <p>Registration of objects in RIPE</p>
                    <p>Interaction with RIPE NCC</p>
                </div>
                <a class="iprent__btn btn btn_green">Order now</a>
            </div>

            <div class="iprent__card">
                <h3 class="iprent__title">RIR to RIR transfer</h3>
                <p class="iprent__title-info"></p>
                <p class="iprent__price">from €200</p>
                <div class="iprent__info iprent__info_lirsupport">
                    <p>Review of counterparty</p>
                    <p>Preparation of documents</p>
                    <p>Verification of RIPE regulations</p>
                    <p>Support of transfer stages</p>
                </div>
                <a class="iprent__btn btn btn_green">Order now</a>
            </div>

        </div>
    </div>
</div>