<div class="grid-lirsupport">
    <div class="wrapper">
        <div class="grid-lirsupport__content">

            <div class="grid-lirsupport__grid">

                <div class="grid-lirsupport__elem">
                    <h2 class="grid-lirsupport__title">Support PI IPv4 <br> <br></h2>
                    <ul class="grid-lirsupport__list">
                        <li>PI membership annual membership fee</li>
                        <li>Verification of documents</li>
                        <li>Data update</li>
                        <li>Consultation</li>
                        <li>Making changes to the RIPE database</li>
                        <li>Interaction with RIPE NCC</li>
                    </ul>
                </div>

                <div class="grid-lirsupport__elem">
                    <h2 class="grid-lirsupport__title">Support AS <br> <br></h2>
                    <ul class="grid-lirsupport__list">
                        <li>Data update</li>
                        <li>Making changes to the RIPE database</li>
                        <li>Interaction with RIPE NCC</li>
                    </ul>
                </div>

            </div>

            <div class="grid-lirsupport__grid">

                <div class="grid-lirsupport__elem">
                    <h2 class="grid-lirsupport__title">Autonomous System Registration (AS) <br> <br></h2>
                    <ul class="grid-lirsupport__list">
                        <li>Consultation on getting AS</li>
                        <li>Preparation of a package of documents for obtaining AS</li>
                        <li>Interaction with RIPE NCC</li>
                    </ul>
                </div>

                <div class="grid-lirsupport__elem">
                    <h2 class="grid-lirsupport__title">Register IPv6/48 <br> <br></h2>
                    <p class="grid-lirsupport__text">
                        An IPv6 / 48 address block can be obtained through the Sponsoring LIR from the RIPE NCC. <br> <br>
                        As an LIR, we can mediate and register IPv6. <br> <br>
                        The price of our services includes * <br> <br>
                    </p>
                    <ul class="grid-lirsupport__list">
                        <li>Consultation on obtaining IPv6</li>
                        <li>Preparation of a package of documents for receiving IPv6</li>
                        <li>Registration of objects in the RIPE NCC database</li>
                        <li>Interaction with RIPE NCC</li>
                    </ul>
                </div>

            </div>

            <div class="grid-lirsupport__grid">

                <div class="grid-lirsupport__elem">
                    <h2 class="grid-lirsupport__title">Transfer PI Resources <br> <br></h2>
                    <p class="grid-lirsupport__text">
                        Do you want to save resources during the reorganization / liquidation of an enterprise or transfer it to a third-party legal entity, but don’t know how? <br> <br>
                        Order a transfer escort service and leave all the difficulties to us. <br> <br>
                    </p>
                    <h3 class="grid-lirsupport__smalltitle">The price of our transfer support services includes : <br> <br></h3>
                    <ul class="grid-lirsupport__list">
                        <li>Counterparty verification</li>
                        <li>Preparation of a package of documents</li>
                        <li>Consultation on filling out transfer documents</li>
                        <li>Check the current regulatory acts of the Regional Internet Registry</li>
                        <li>Accompanying all stages of the transfer</li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>