<div class="lirsupport">
    <div class="wrapper">
        <div class="lirsupport__content">
            <div class="lirsupport__info">
                <h2 class="lirsupport__title">Lisa</h2>
                <p class="lirsupport__title-info">Your LIR Support</p>
                <p class="lirsupport__text">
                    Properly drawn up and verified documents are the guarantor of the safety of Your IPv4, IPv6, AS objects and guarantee the security of IT business. <br><br>Objects are put on support within 1-2 working days after receipt and verification of all necessary documents.
                </p>
            </div>
            <a class="lirsupport__img"></a>
        </div>
    </div>
</div>