<div class="articles">
    
        <div class="articles__content">
            <div class="articles__grid">

                <div class="articles__elem articles__elem_big">
                    <a class="articles__img" style="background-image: url(img/articles/1.jpg);"></a>
                    <h3 class="articles__title">IP address and marketing</h3>
                    <p class="articles__text">Fair prices and a market state</p>
                    <a href="marketing.html" class="articles__link"></a>
                </div>

                <div class="articles__smallgrid">

                    <div class="articles__elem articles__elem_small">
                        <a class="articles__img" style="background-image: url(img/articles/2.jpg);"></a>
                        <h3 class="articles__title">Security, KYC and Abuse management</h3>
                        <p class="articles__text">Prevention of fraud and blacklisting of a network space is crucial for an internet sustainability</p>
                        <a href="kyc.html" class="articles__link"></a>
                    </div>

                    <div class="articles__elem articles__elem_small">
                        <a class="articles__img" style="background-image: url(img/articles/3.jpg);"></a>
                        <h3 class="articles__title">European based marketplace</h3>
                        <p class="articles__text">Why we made InterLIR in Germany</p>
                        <a href="europe.html" class="articles__link"></a>
                    </div>

                    <div class="articles__elem articles__elem_middle">
                        <a class="articles__img" style="background-image: url(img/articles/4.jpg);"></a>
                        <h3 class="articles__title">Interlir : a new digital future and IPv4</h3>
                        <p class="articles__text">The source of your next IP network is coming soon from the experts of Internet</p>
                        <a href="future.html" class="articles__link"></a>
                    </div>

                </div>

            </div>
        </div>

</div>