<div class="design">
    <div class="wrapper2">
        <h2 class="title">DESIGNED FOR PEOPLE</h2>
        <div class="design__content">
            <div class="design__info">
                <h2 class="design__title title-block title-block_white">Easy to use platform <br>
                    for IPv4 owners and digital companies</h2>
                <p class="design__titleinfo">There is no need to spend hours to research the prices for networks, we have done it already. We are trying to save you time and money, basically the most valuable things in the world.</p>
                <div class="design__lists">

                    <div class="list">
                        <h3>For Digital Business</h3>
                        <span>Lease IPv4 at fair-price</span>
                        <p>The marketplace will help you to get the best deals for your network. You will be able to freely chose your leasing provider, offering the best prices and services.</p>
                        <ul>
                            <li>Flexible and transparent pricing.</li>
                            <li>No hidden fees, just one easy-to-understand price.</li>
                            <li>You can pay with cards, bank transfers, or cryptocurrencies.</li>
                        </ul>
                    </div>

                    <div class="list">
                        <h3>For IP networks owners</h3>
                        <span>Monetize your assets</span>
                        <p>You can manage your IP network online in real-time, access your network status and manage contracts, invoices and payments in real-time as well.</p>
                        <ul>
                            <li>Secure and GDPR Compliant</li>
                            <li>Full Abuse Monitoring</li>
                            <li>Automated LOA Assignment</li>
                        </ul>
                    </div>

                </div>
            </div>
            <a class="design__img"></a>
        </div>
    </div>
</div>