<div class="get-your-network">
    <div class="wrapper2">
        <h2 class="title">GET YOUR NETWORK</h2>
        <div class="get-your-network__content">

            <h3 class="title-block title-block_white">Rent IP networks from a trusted source</h3>
            <p class="design__titleinfo get-your-network__titleinfo">Check the Interlir marketplace and find an offer suitable for business. There is no need to spend hours analyzing the prices for networks. Just register on Interlir Marketplace and get your network.</p>
                <div class="design__lists">

                    <div class="list">
                        <h3>Fair Prices</h3>
                        <span></span>
                        <p>The marketplace will help you to get the best deals for your network. You will be able to freely choose your leasing provider, offering the best prices and services.</p>
                        <ul>
                            <li>Get Flexible and transparent pricing (from 90Eur monthly for /24 )</li>
                            <li>Get no hidden fees, just one easy-to-understand price.</li>
                            <li>You can pay with cards, bank transfers, or cryptocurrencies(soon).</li>
                        </ul>
                    </div>

                    <div class="list">
                        <h3>Reliable suppliers</h3>
                        <span></span>
                        <p>We only provide networks from real network owners. We make payments in time and report on utilization.</p>
                        <ul>
                            <li>Deliver secured and GDPR compliant service</li>
                            <li>Get no abuses</li>
                            <li>Enjoy automated LOA Assignment</li>
                        </ul>
                    </div>

                </div>
                <div class="get-your-network__btn">
                    <a href="https://portal.interlir.com" class="btn">Open marketplace</a>
                </div>
            </div>
            <a class="design__img design__img_get-your-network" style="background-image: url(img/get-your-network/back-img.jpg);"></a>

        </div>
    </div>
</div>