<header class="header">
	<div class="wrapper">
		<div class="header__content">

			<div class="header__logo">
				<a href="/" class="logo"></a>
			</div>

			<div class="header__nav">
				<nav class="nav">

					<div class="nav__elem">
						<a href="">About</a>
					</div>

					<div class="nav__elem" data-target="#one-drop">
						<a class="nav__elem_before">Utilize IPv4</a>
						<div class="nav__drop" id="one-drop">
							<div class="nav__drop-tringle"></div>
							<a href="" class="nav__drop-elem">Sell IPv4 <span>How to sell IPv4</span></a>
							<a href="" class="nav__drop-elem">Lease out IPv4 <span>How to lease out IPv4</span></a>
						</div>
					</div>

					<div class="nav__elem" data-target="#two-drop">
						<a class="nav__elem_before" >Lease IPv4</a>
						<div class="nav__drop" id="two-drop">
							<div class="nav__drop-tringle"></div>
							<a href="" class="nav__drop-elem">Why <span>Why should you lease IPv4</span></a>
							<a href="" class="nav__drop-elem">Quick Guide <span>How to lease IPv4</span></a>
							<a href="" class="nav__drop-elem">Advantage <span>Why it is better to lease IPv4</span></a>
							<a href="" class="nav__drop-elem">Checklist <span>Short checklist for IPv4 lease</span></a>
						</div>
					</div>

					<div class="nav__elem" data-target="#three-drop">
						<a class="nav__elem_before" >Buy IPv4</a>
						<div class="nav__drop" id="three-drop">
							<div class="nav__drop-tringle"></div>
							<a href="" class="nav__drop-elem">Live IPv4 offers <span>List of current IPv4 sell offers</span></a>
							<a href="" class="nav__drop-elem">Policies <span>What should I know about IPv4 deals?</span></a>
							<a href="" class="nav__drop-elem">How to buy <span>How you can buy IPv4</span></a>
							<a href="" class="nav__drop-elem">Checklist <span>Quick checklist for LIR Support</span></a>
							<a href="" class="nav__drop-elem">Value <span>Why you should buy IPv4</span></a>
						</div>
					</div>

					<div class="nav__elem" data-target="#four-drop">
						<a class="nav__elem_before" >LIR Services</a>
						<div class="nav__drop" id="four-drop">
							<div class="nav__drop-tringle"></div>
							<a href="" class="nav__drop-elem">LIR Managment <span>What LIR Managment and why you need it</span></a>
							<a href="" class="nav__drop-elem">PI & ASN Support <span>What is PI & ASN sponsoring and why you need it</span></a>
							<a href="" class="nav__drop-elem">LIR Sponsoring <span>What is LIR sponsoring and why you need it</span></a>
						</div>
					</div>

					<div class="nav__elem">
						<a href="">Contacts</a>
					</div>

					<div class="nav__elem">
						<a href="">Sign In</a>
					</div>

				</nav>
			</div>

			<div class="header__soc">
				<a href="" class="linkidin"></a>
			</div>

			<div class="header__lang">
				<a class="header__lang-En">En</a>
				<a class="header__lang-De">De</a>
			</div>

		</div>
	</div>
</header>
