<header class="header">
	<div class="wrapper">

		<div class="header__content">

			<div class="header__logo">
				<a href="/" class="logo"></a>
			</div>

			<div class="header__elem">
				<div class="header__nav">
					<nav class="nav">

						<div class="nav__elem">
							<a href="">About</a>
						</div>

						<div class="nav__elem" data-target="#one-drop">
							<a class="nav__elem_before">Utilize IPv4</a>
							<div class="nav__drop" id="one-drop">
								<div href="" class="nav__drop-elem">
									<a class="nav-before-img nav-before-img_smile" href="">Sell IPv4</a> 
									<p>How to sell IPv4</p>
								</div>
								<div href="" class="nav__drop-elem">
									<a class="nav-before-img nav-before-img_time" href="">Lease out IPv4</a>
									<p>How to lease out IPv4</p>
								</div>
							</div>
						</div>

						<div class="nav__elem" data-target="#two-drop">
							<a class="nav__elem_before" >Lease IPv4</a>
							<div class="nav__drop" id="two-drop">
								<div href="" class="nav__drop-elem">
									<a class="nav-before-img nav-before-img_smile" href="">Why</a>
									<p>Why should you lease IPv4</p>
								</div>
								<div href="" class="nav__drop-elem">
									<a class="nav-before-img nav-before-img_box" href="">Quick Guide</a>
									<p>How to lease IPv4</p>
								</div>
								<div href="" class="nav__drop-elem">
									<a class="nav-before-img nav-before-img_time" href="">Advantage</a>
									<p>Why it is better to lease IPv4</p>
								</div>
								<div href="" class="nav__drop-elem">
									<a class="nav-before-img nav-before-img_courier" href="">Checklist</a>
									<p>Short checklist for IPv4 lease</p>
								</div>
							</div>
						</div>

						<div class="nav__elem" data-target="#three-drop">
							<a class="nav__elem_before" >Buy IPv4</a>
							<div class="nav__drop" id="three-drop">
								<div href="" class="nav__drop-elem">
									<a class="nav-before-img nav-before-img_time2" href="">Live IPv4 offers</a> 
									<p>List of current IPv4 sell offers</p>
								</div>
								<div href="" class="nav__drop-elem">
									<a class="nav-before-img nav-before-img_box" href="">Policies</a>
									<p>What should I know about IPv4 deals?</p>
								</div>
								<div href="" class="nav__drop-elem">
									<a class="nav-before-img nav-before-img_smile" href="">How to buy</a>
									<p>How you can buy IPv4</p>
								</div>
								<div href="" class="nav__drop-elem">
									<a class="nav-before-img nav-before-img_courier" href="">Checklist</a>
									<p>Quick checklist for LIR Support</p>
								</div>
								<div href="" class="nav__drop-elem">
									<a class="nav-before-img nav-before-img_time" href="">Value</a>
									<p>Why you should buy IPv4</p>
								</div>
							</div>
						</div>

						<div class="nav__elem" data-target="#four-drop">
							<a class="nav__elem_before" >LIR Services</a>
							<div class="nav__drop" id="four-drop">
								<div href="" class="nav__drop-elem">
									<a class="nav-before-img nav-before-img_smile" href="">LIR Managment</a>
									<p>What LIR Managment and why you need it</p>
								</div>
								<div href="" class="nav__drop-elem">
									<a class="nav-before-img nav-before-img_box" href="">PI & ASN Support</a> 
									<p>What is PI & ASN sponsoring and why you need it</p>
								</div>
								<div href="" class="nav__drop-elem">
									<a class="nav-before-img nav-before-img_time" href="">LIR Sponsoring</a>
									<p>What is LIR sponsoring and why you need it</p>
								</div>
							</div>
						</div>

						<div class="nav__elem">
							<a href="">Contacts</a>
						</div>

						<div class="nav__elem">
							<a href="">Sign In</a>
						</div>

					</nav>
				</div>

				<div class="header__soc">
					<a href="https://www.linkedin.com/company/interlir-gmbh/" class="linkidin"></a>
				</div>

				<div class="header__lang">
					<a class="header__lang-En">En</a>
					<a class="header__lang-De">De</a>
				</div>
			
			</div>

			<!-- mobile -->
			<div class="header__burger">
				<a class="burger"></a>
			</div>

		</div>
	</div>
</header>
