<div class="map">
    <div class="wrapper2">
        <h2 class="title">GLOBAL SCALE</h2>
        <div class="map__content">
            <div class="map__info">
                <h2 class="map__title title-block title-block_white">Easiest way to rent IP <br> anywhere in the world</h2>
                <p class="map__text">We help you to scale your network, without any limitations. You will receive a network with zero downtime, even if you need to scale your network at this very moment!</p>
                <a href="https://portal.interlir.com/" class="map__btn btn">Sign In</a>
            </div>
            <a class="map__img"></a>
        </div>
    </div>
</div>