<div class="solution">
    <div class="wrapper2">
        <h2 class="title">UNIFIED SOLUTION</h2>
        <div class="solution__content">
            <h3 class="title-block">A fully integrated infrastructure for IP networks management</h3>
            <div class="solution__text">
                The Platform provides services for owners and end-users of IP networks.<br><br>We engage IP owners to utilize their assets more efficiently and generate revenue streams while providing transparent online reporting and in-time payouts. We provide support services for LIRs, such as AS registration and RIR transfers<br><br>We provide IP end-users with fair-priced IP networks for leasing, so they can scale their Internet business at an unprecedented pace.<br><br>We provide convenient payment methods such as credit cards, bank transfers, and cryptocurrencies
            </div>
        </div>
    </div>
</div>