<div class="solution">
    <div class="wrapper2">
        <a class="anchor" name="about"></a>
        <h2 class="title">HOW TO MONETIZE YOUR IP NETWORK</h2>
        <div class="solution__content">
            <h3 class="title-block">Earn money from your unused networks</h3>
            <p class="solution__title-info">In the world of IPv4 networks not available anymore for an affordable price to buy, we offer you an opportunity to lease out unused IPv4 resources and earn revenue from them—just three simple steps to start with Interlir.</p>
            <div class="solution__lists">

                <div class="solution__list">
                    <h4 class="solution__list-title">Register a company account</h4>
                    <p>
                        Register a personal account and provide company documents for Know You Customer verification.
                        <a href="https://intercom.help/interlirde/en/articles/5165637-how-to-get-started-with-interlir-marketplace">>>Check details.</a>
                    </p>
                </div>

                <div class="solution__list">
                    <h4 class="solution__list-title">Import network into the marketplace</h4>
                    <p>
                        Provide inetnum and set the desired term for lease out. You set the price and period. After import approval, your network is ready for rent.
                        <a href="https://intercom.help/interlirde/en/articles/5335361-how-to-provide-ip-networks-to-interlir">>>Check details.</a>
                    </p>
                </div>

                <div class="solution__list">
                    <h4 class="solution__list-title">Earn revenue from the rent</h4>
                    <p>
                        Your company gets payment from Interlir, based on rent payment received every month.
                        <a href="https://portal.interlir.com">>>Check details.</a>
                    </p>
                </div>

            </div>
            <div class="solution__btns">
                <a href="https://portal.interlir.com" class="btn">Lease out your network</a>
            </div>
        </div>
    </div>
</div>