<div class="why">
    <div class="wrapper2">
        <h2 class="title">WHY INTERLIR</h2>
        <div class="why__content">
            <h2 class="why__title title-block">InterLIR is your trusted guide to <br> the world IP Networks market</h2>
            <div class="why__grid">

                <div class="why__elem">
                    <a class="why__img" style="background-image: url(img/why/1.png);"></a>
                    <div class="why__info">
                        <h3 class="why__smalltitle">1M+ IPv4</h3>
                        <p class="why__text">Unlike other brokers that "assign" IP address to their customers and process it through proxy, we work directly with the owner of the IP address.</p>
                    </div>
                </div>

                <div class="why__elem">
                    <a class="why__img" style="background-image: url(img/why/2.png);"></a>
                    <div class="why__info">
                        <h3 class="why__smalltitle">Abuse Management</h3>
                        <p class="why__text">We constantly monitor complaints from Internet users that come through official channels, we carry out, by our own means, preventive selective monitoring of networks in use by tenants for prohibited activities.</p>
                    </div>
                </div>

                <div class="why__elem">
                    <a class="why__img" style="background-image: url(img/why/3.png);"></a>
                    <div class="why__info">
                        <h3 class="why__smalltitle">24/7 Support</h3>
                        <p class="why__text">Our systems operate with 99.9%+ uptime and are highly scalable and redundant. INTERLIR is certified to the highest compliance standards.</p>
                    </div>
                </div>

                <div class="why__elem">
                    <a class="why__img" style="background-image: url(img/why/4.png);"></a>
                    <div class="why__info">
                        <h3 class="why__smalltitle">Legally Secure</h3>
                        <p class="why__text">Our operations fully comply with a European law. We conduct a full survey of our counterparties, study the history of their use of IP addressing from other owners, analyze the beneficiaries and the company itself.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>