<div class="iprent">
    <div class="wrapper">
        <a class="anchor" name="iprent-lern"></a>
        <div class="iprent__content">

            <div class="iprent__card">
                <h3 class="iprent__title">Rent IP</h3>
                <p class="iprent__title-info">Network at a fair price</p>
                <p class="iprent__price">from €120</p>
                <div class="iprent__info">
                    <p>Networks from /16 to /24</p>
                    <p>RIPE/APNIC/LAPNIC</p>
                    <p>6/12/24 Months</p>
                </div>
                <a class="iprent__btn btn btn_green">Order now</a>
            </div>

            <div class="iprent__card iprent__card_center">
                <h3 class="iprent__title">Lease IP</h3>
                <p class="iprent__title-info">Abuse free and timely payments</p>
                <p class="iprent__price">from €120</p>
                <div class="iprent__info">
                    <p>Networks from /16 to /24</p>
                    <p>Any RIR</p>
                    <p>6/12/24 Month</p>
                </div>
                <a class="iprent__btn btn btn_green">Order now</a>
            </div>

            <div class="iprent__card">
                <h3 class="iprent__title">Sell/Buy IP</h3>
                <p class="iprent__title-info">Fair price and abuse free</p>
                <p class="iprent__price">from €30</p>
                <div class="iprent__info">
                    <p>Networks from /16 to /24</p>
                    <p>Any RIR</p>
                    <p>Abuse Free</p>
                </div>
                <a class="iprent__btn btn btn_green">Order now</a>
            </div>

        </div>
    </div>
</div>